<div class="row p-2">
    <div class="col-1 p-0">
        <%= link_to user_path(@user) do %>
            <%= image_tag(@user.avatar, alt: @user.username, class: " img-fluid rounded-circle") %>
        <% end %>
    </div>
    <div class="col-4">
        <h2><%= @user.username %></h2>
        <div class="average-review-rating" data-score="<%= @user.posts.sum {|s| 5*s.get_likes.size.to_f/s.votes_for.size} %>"></div> <small>based on <%= @user.posts.sum {|s| s.votes_for.size} %> votes</small>   
    </div>
</div>
<hr>
<div class="row justify-content-end">
    <ul class="d-flex">
        <%= link_to edit_user_registration_path(@user), class: "profile-button" do %>
            <p><i class="fas fa-user-edit"></i> Edit Profile</p>
        <% end %>

        <%= link_to destroy_user_session_path, class: "profile-button" do %>
            <p><i class="fas fa-sign-out-alt"></i> Logout</p>
        <% end %>        
    </ul>
</div>

<div class="row justify-content-center">
    <h3 class="text-muted">Favorite Cities</h3>
</div>

<div class="row">
    <%= render(@user.favorite_cities)%>
</div>

<div class="row justify-content-center">
    <h3 class="text-muted">Favorite Hotels</h3>
</div>

<div class="row">
    <%= render(@user.favorite_hotels)%>
</div>

<div class="row justify-content-center">
    <h3 class="text-muted">Favorite Citywalks</h3>
</div>

<div class="row">
    <%= render(@user.favorite_citywalks)%>
</div>

<div class="row justify-content-center">
    <h3 class="text-muted">Favorite Restaurants</h3>
</div>

<div class="row">
    <%= render(@user.favorite_restaurants)%>
</div>

</div>

<script>
    $('.average-review-rating').raty({
        readOnly: true,
        path: '/assets/',
        score: function() {
            console.log($(this).attr('data-score'));
            return $(this).attr('data-score');
        }
    });
</script>
