<div class="row justify-content-center">
    <h1 class="display-1"><%= current_user.username %></h1>
</div>

<div class="row justify-content-center">
    <div class="average-review-rating" data-score="<%= current_user.posts.sum {|s| 5*s.get_likes.size.to_f/s.votes_for.size} %>"></div> <small>based on <%= current_user.posts.sum {|s| s.votes_for.size} %> votes</small>   
</div>


<div class="row">
    <div class="col-sm-12 justify-content-center">
        <div class="show-image">
            <%= image_tag current_user.avatar, alt: current_user.username, class: "h-50 w-50" %>        
        </div>     
    </div>
</div>

<div class="row justify-content-center">
    <h3 class="text-muted">Favorite Cities</h3>
</div>

<div class="row">
    <%= render(current_user.favorite_cities)%>

</div>

<div class="row justify-content-center">
    <h3 class="text-muted">Favorite Hotels</h3>
</div>

<div class="row">
    <%= render(current_user.favorite_hotels)%>

</div>

<div class="row justify-content-center">
    <h3 class="text-muted">Favorite Citywalks</h3>
</div>

<div class="row">
    <%= render(current_user.favorite_citywalks)%>

</div>



	<div class="dropdown">
	  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    Favorite Posts
	  </button>
	   <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
	   	<% current_user.find_saved_items.each do |p| %>
	   	<%if p.class == Post%>
	    <button class="dropdown-item" type="button"><%= link_to p.title ,post_path(p) %>
	    <%end%>
		</button>
	    <% end %>
	  </div>

	</div>
</div>

<script>
    $('.review-rating').raty({
        readOnly: true,
        score: function() {
            return $(this).attr('data-score');
        },
        path: '/assets/'
    });
</script>

<script>
    $('.average-review-rating').raty({
        readOnly: true,
        path: '/assets/',
        score: function() {
            return $(this).attr('data-score');
        }
    });
</script>


<script>
    $('#rating-form').raty({
        path: '/assets/',
        scoreName: 'review[rating]'
    });
</script>