<div class="col-md-4 mb-4">
    <div class="thumbnail">
        <%= link_to image_tag(citywalk.image.thumb.url, alt: citywalk.name, class: "img-fluid"), citywalk_path(citywalk) if citywalk.image? %>
        <div class="caption">
            <h4><%= link_to citywalk.name, citywalk_path(citywalk), class: "caption-link"%></h4>
        </div>
        <div class="rating-star">
            <div class="average-review-rating" data-score="<%= citywalk.mean %>"></div> 
        </div>
        <div class="based-on">
            <small><%= citywalk.reviews.count %> reviews</small>
        </div>
        <div class="thumbnail-buttons">

            <% if has_favorite_item(citywalk) %>
                <%= link_to unsave_citywalk_path(citywalk), method: :put do  %>
                    <p><i class="fas fa-star"></i></p>
                <% end %>
            <% else %>
                <%= link_to save_citywalk_path(citywalk), method: :put do  %>
                    <p><i class="far fa-star"></i></p>
                <% end %>                        
            <% end %>            

            <% if has_role?(:admin) %>
                <%= link_to edit_citywalk_path(citywalk) do %>
                    <p><i class="fas fa-pencil-alt"></i></p>
                <% end %>
                <%= link_to citywalk_path(citywalk), method: :delete, data: { confirm: "Are you sure?" } do %>
                    <p><i class="fas fa-trash-alt"></i></p>
                <% end %>            
            <% end %>
            
        </div>            
    </div>
</div>

<script>
    $('.review-rating').raty({
        readOnly: true,
        score: function() {
            return $(this).attr('data-score');
        },
        path: '/assets/'
    });
</script>

<script>
    $('.average-review-rating').raty({
        readOnly: true,
        path: '/assets/',
        score: function() {
            return $(this).attr('data-score');
        }
    });
</script>

