<div class="col-md-6 offset-3">

    <div class="edit-citywalk-form">

        <h1>Edit citywalk</h1>

        <%= simple_form_for(@citywalk) do |f| %>
            <%= f.input :name %>
            <%= f.input :description %>
            <%= f.input :duration %>
            <%= f.input :place %>
            <%= f.button :submit, :class => "btn btn-primary" %>
        <% end %>   

    </div>

</div>