<div class="row align-items-center flex-column">
    <h1 class="display-1"><%= @citywalk.name %></h1>
    <h6> <%= link_to @citywalk.city.name, city_path(@citywalk.city) %> </h6>
    <div class="average-review-rating" data-score="<%= @average_review %>"></div> <small>based on <%= @citywalk.reviews.count %> reviews</small>
</div>

<div class="row">
    <p class="lead"><%= @citywalk.description %></p>
</div>

<div class="row">
    <div class="col-sm-4">
        <h4 class="text-secondary align-self-center">Details:</h2>        
    </div>
    <div class="col-sm-4 d-flex justify-content-center">

        <h5><i class="fas fa-clock"></i> Duration: </h5>

        <p class="ml-2"> <%= @citywalk.duration %> minutes</p>        
    </div>
    <div class="col-sm-4  d-flex justify-content-center">
        <h5><i class="fas fa-map"></i> Place: </h5> 

        <p class="ml-2"> <%= @citywalk.place %></p> 
        
    </div>
</div>


<div class="row justify-content-end mb-4">
    <div class="col-md-3">

        <% remoteOption = user_signed_in? ? true : false %>

        <%= link_to save_citywalk_path(@citywalk), class: "btn btn-outline-success w-100", method: :put, remote: remoteOption do  %>
            <% if has_favorite_item(@citywalk) %>
                <i class="star-icon fas fa-star"></i> <span class="fav-action">Remove</span>
            <% else %>
                <i class="star-icon far fa-star"></i> <span class="fav-action">Save</span>
            <% end %>
        <% end %>                        
    </div>
</div>


<div class="row">
    <div class="col-sm-12 justify-content-center">
        <div class="show-image">
            <%= image_tag @citywalk.image.url  , alt: @citywalk.name, class: "h-100 w-100" %>        
        </div>        
    </div>
</div>

<hr>

<%= render partial: "reviews/reviews", locals: {reviewable: @citywalk} %>

<%= render partial: "reviews/form", locals: {reviewable: @citywalk} %>

<%= render "partials/favorite_modal" %>

<script>
    $('.review-rating').raty({
        readOnly: true,
        score: function() {
            return $(this).attr('data-score');
        },
        path: '/assets/'
    });
</script>

<script>
    $('.average-review-rating').raty({
        readOnly: true,
        path: '/assets/',
        score: function() {
            return $(this).attr('data-score');
        }
    });
</script>


<script>
    $('#rating-form').raty({
        path: '/assets/',
        scoreName: 'review[rating]'
    });
</script>