<h1><%= @citywalk.name %></h1>

<div class="citywalk-description">
    <p> Name <%= @citywalk.name %></p>
    <p> Description <%= @citywalk.description %></p>
    <p> Duration <%= @citywalk.duration %></p>
    <p> Place <%= @citywalk.place %></p>
</div>

<%= render partial: "reviews/reviews", locals: {reviewable: @citywalk} %>

<%= render partial: "reviews/form", locals: {reviewable: @citywalk} %>

