<div class="row align-items-center flex-column">
    <h1 class="display-1"><%= @citywalk.name %></h1>
    <h6> <%= link_to @citywalk.city.name, city_path(@citywalk.city) %> </h6>
    <div class="average-review-rating" data-score="<%= @average_review %>"></div> <small>based on <%= @citywalk.reviews.count %> reviews</small>
</div>

<div class="row">
    <p class="lead"><%= @citywalk.description %></p>
</div>

<% if has_favorite_item(@citywalk) %>
    <%= link_to unsave_citywalk_path(@citywalk), method: :put do  %>
        <i class="fas fa-star"></i>
    <% end %>
<% else %>
    <%= link_to save_citywalk_path(@citywalk), method: :put do  %>
        <i class="far fa-star"></i>
    <% end %>                        
<% end %>

<div class="row flex-column">
    <p><strong>Duration</strong> <%= @citywalk.duration %> minutes</p>
    <p><strong>Place</strong> <%= @citywalk.place %></p>

</div>

<div class="row">
    <div class="col-sm-12 justify-content-center">
        <div class="show-image">
            <%= image_tag @citywalk.image.url  , alt: @citywalk.name, class: "h-100 w-100" %>        
        </div>        
    </div>
</div>

<hr>

<%= render partial: "reviews/reviews", locals: {reviewable: @citywalk} %>

<%= render partial: "reviews/form", locals: {reviewable: @citywalk} %>

<script>
    $('.review-rating').raty({
        readOnly: true,
        score: function() {
            return $(this).attr('data-score');
        },
        path: '/assets/'
    });
</script>

<script>
    $('.average-review-rating').raty({
        readOnly: true,
        path: '/assets/',
        score: function() {
            return $(this).attr('data-score');
        }
    });
</script>


<script>
    $('#rating-form').raty({
        path: '/assets/',
        scoreName: 'review[rating]'
    });
</script>