<div class="row align-items-center flex-column">
    <h1 class="display-1"><%= @citywalk.name %></h1>
    <h6> <%= link_to @citywalk.city.name, city_path(@citywalk.city) %> </h6>
</div>

<div class="row">
    <p class="lead"><%= @citywalk.description %></p>
</div>

<div class="row flex-column">
    <p><strong>Duration</strong> <%= @citywalk.duration %> minutes</p>
    <p><strong>Place</strong> <%= @citywalk.place %></p>

</div>

<%= render partial: "reviews/reviews", locals: {reviewable: @citywalk} %>

<%= render partial: "reviews/form", locals: {reviewable: @citywalk} %>

