<div class="row align-items-center flex-column">
    <h1 class="display-1"><%= @restaurant.name %></h1>
    <h6> <%= link_to @restaurant.city.name, city_path(@restaurant.city) %> </h6>
    <div class="average-review-rating" data-score="<%= @average_review %>"></div> <small>based on <%= @restaurant.reviews.count %> reviews</small>
</div>

<div class="row">
    <p class="lead"><%= @restaurant.description %></p>
</div>


<%if current_user%>
    <%= link_to save_restaurant_path(@restaurant), class: "save", method: :put do %>  
    <%if current_user.find_saved_items.include?(@restaurant)%>
        <i class="fas fa-star"></i>
    <%else%>
        <i class="far fa-star"></i>
    <%end%>
    <%end%>
<%end%>

<div class="row">
    <div class="col-sm-12 justify-content-center">
        <div class="show-image">
            <%= image_tag @restaurant.image.url  , alt: @restaurant.name, class: "h-100 w-100" %>        
        </div>        
    </div>
</div>



<%= render partial: "reviews/reviews", locals: {reviewable: @restaurant} %>

<%= render partial: "reviews/form", locals: {reviewable: @restaurant} %>


<script>
    $('.review-rating').raty({
        readOnly: true,
        score: function() {
            return $(this).attr('data-score');
        },
        path: '/assets/'
    });
</script>

<script>
    $('.average-review-rating').raty({
        readOnly: true,
        path: '/assets/',
        score: function() {
            return $(this).attr('data-score');
        }
    });
</script>


<script>
    $('#rating-form').raty({
        path: '/assets/',
        scoreName: 'review[rating]'
    });
</script>