<div class="row justify-content-center">
    <h1 class="display-1"><%= @country.name %></h1>
</div>

<div class="row">
    <p class="lead"><%= @country.description %></p>
</div>

<div class="row">
    <div class="col-sm-12 justify-content-center">
        <div class="show-image">
            <%= image_tag @country.image.url, alt: @country.name, class: "h-100 w-100" %>        
        </div>        
    </div>
</div>

<div class="row justify-content-center">
    <h2>Top Destinations</h2>
</div>

<div class="row">
    <%= render(@country.cities) %>    
</div>

<hr>

<%= link_to "Add City", new_country_city_path(@country), class:"btn btn-primary"  %>

<div class="row justify-content-center">
    <div class="btn-group">
        <%= link_to "Back", root_path, class: "btn btn-secondary" %>

        <%= link_to "Edit", edit_country_path(@country), class: "btn btn-secondary" %>
        <%= link_to "Delete", country_path(@country), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
    </div>    
</div>

