<div class="row">
    <h1>Posts</h1>    
</div>

<% if @posts.count == 0 %>
    <h1>There are no posts currently in this category</h1>
<% else %>

    <div class="row">
        <% @posts.each do |post| %>
            <div class="card card-primary">
            	<p>author: <%=post.user.username%></p>
            	<p>content: <%=post.content%></p>                   
           
                <%= link_to "Edit", edit_post_path(post), class: "btn btn-default" %>
                <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
            </div>

        <% end %>            
    </div>


<% end %>

<hr>

<%= link_to "Add Post", new_post_path, class: "btn btn-primary" %>
