<% if has_role?(:admin) %>

    <div class="col-md-6 offset-3">

        <div class="edit-city-form">

            <h1>Edit city</h1>

            <%= simple_form_for(@city) do |f| %>
                <%= f.input :name %>
                <%= f.input :description %>
                <%= f.input :image %>
                <% if @city.image? %>
                    <%= image_tag @city.image.thumb.url, class:"d-block mx-auto" %>
                <% end %>
                <hr>
                <%= f.button :submit, :class => "btn btn-primary" %>
            <% end %>   

        </div>

    </div>

<% else %>
    <p class="text-center">Sorry! You do not have acces to this page</p>
    <%= link_to "Back", root_path %>
<% end %>
