<div class="row align-items-center flex-column">
    <h1 class="display-1"><%= @city.name %></h1>
    <h6> <%= link_to @city.country.name, country_path(@city.country) %> </h6>
</div>


<div class="row">
    <p class="lead"><%= @city.description %></p>
</div>

<div class="row justify-content-end mb-4">
    <div class="col-md-3">

        <%= link_to save_city_path(@city), class: "btn btn-outline-success w-100", method: :put, remote: true do  %>
            <% if has_favorite_item(@city) %>
                <i class="star-icon fas fa-star"></i> <span class="fav-action">Remove</span>
            <% else %>
                <i class="star-icon far fa-star"></i> <span class="fav-action">Save</span>
            <% end %>
        <% end %>                        
    
    </div>
</div>

<div class="row">
    <div class="col-sm-12 justify-content-center">
        <div class="show-image">
            <%= image_tag @city.image.url, alt: @city.name, class: "h-100 w-100" %>        
        </div>        
    </div>
</div>

<br>
<br>

<div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-5 d-flex flex-column align-items-center">
        <h2>Current weather: <%= @forecast_dic['currently']['summary'] %></h2>
        <h2>Current temperature: <%= to_celsius(@forecast_dic['currently']['temperature']) %>º</h2>
    </div>

    <div class="col-md-5 d-flex flex-column align-items-center">
        <%= image_tag(@forecast_dic['currently']['icon'], :size => "120x120") %>
    </div>

    <div class="col-md-1"></div>
</div>

<% if @forecast_dic %>

    <div class="row justify-content-center">        
        <div class="col-md-2 d-flex flex-column align-items-center">

                <h2><%= next_five_days[0] %></h2>

                <div class="row">

                    <%= image_tag(@forecast_dic['daily']['data'][1]['icon'], :size => "100x100") %>

                    <div class="col">
                        <h2><%= to_celsius(@forecast_dic['daily']['data'][1]['temperatureMin'])%>º</h2>
                        <h2><%= to_celsius(@forecast_dic['daily']['data'][1]['temperatureMax'])%>º</h2>
                    </div>
                    
                </div>
 
        </div>

        <div class="col-md-2 d-flex flex-column align-items-center">

            <h2><%= next_five_days[1] %></h2>

            <div class="row">

                <%= image_tag(@forecast_dic['daily']['data'][2]['icon'], :size => "100x100") %>

                <div class="col">
                    <h2><%= to_celsius(@forecast_dic['daily']['data'][2]['temperatureMin'])%>º</h2>
                    <h2><%= to_celsius(@forecast_dic['daily']['data'][2]['temperatureMax'])%>º</h2>
                </div>
                
            </div>

        </div>  

        <div class="col-md-2 d-flex flex-column align-items-center">

            <h2><%= next_five_days[2] %></h2>

            <div class="row">

                <%= image_tag(@forecast_dic['daily']['data'][3]['icon'], :size => "100x100") %>

                <div class="col">
                    <h2><%= to_celsius(@forecast_dic['daily']['data'][3]['temperatureMin'])%>º</h2>
                    <h2><%= to_celsius(@forecast_dic['daily']['data'][3]['temperatureMax'])%>º</h2>
                </div>
                
            </div>

        </div>  

        <div class="col-md-2 d-flex flex-column align-items-center">

            <h2><%= next_five_days[3] %></h2>

            <div class="row">

                <%= image_tag(@forecast_dic['daily']['data'][4]['icon'], :size => "100x100") %>

                <div class="col">
                    <h2><%= to_celsius(@forecast_dic['daily']['data'][4]['temperatureMin'])%>º</h2>
                    <h2><%= to_celsius(@forecast_dic['daily']['data'][4]['temperatureMax'])%>º</h2>
                </div>
                
            </div>

        </div>  

        <div class="col-md-2 d-flex flex-column align-items-center">

            <h2><%= next_five_days[4] %></h2>

            <div class="row">

                <%= image_tag(@forecast_dic['daily']['data'][5]['icon'], :size => "100x100") %>

                <div class="col">
                    <h2><%= to_celsius(@forecast_dic['daily']['data'][5]['temperatureMin'])%>º</h2>
                    <h2><%= to_celsius(@forecast_dic['daily']['data'][5]['temperatureMax'])%>º</h2>
                </div>
                
            </div>
        </div>   
    </div>

<% end %>

<br>
<br>

<div class="row justify-content-center">
    <h2>Browse <%= @city.name %></h2>
</div>

<div class="row">
    <div class="col-md-4">
        <%= link_to '<i class="fas fa-hotel"></i> Hotels'.html_safe, city_hotels_path(@city), class: "btn activity-button" %>
    </div>        
    <div class="col-md-4">
        <%= link_to '<i class="fas fa-shoe-prints"></i> Citywalks'.html_safe, city_citywalks_path(@city), class: "btn activity-button" %>
    </div>        
    <div class="col-md-4">
        <%= link_to '<i class="fas fa-utensils"></i> Restaurants'.html_safe, city_restaurants_path(@city), class: "btn activity-button" %>
    </div>        
</div>

<hr>

<div class="row flex-column align-items-center">
    <h2>Book hotels, tours and attractions</h2>
    <p>Save time by booking in advance</p>
</div>

<div class="row justify-content-center">
    <h3 class="text-muted">Hotels</h3>
</div>

<div class="row">
    <% if @city.hotels.exists? %>
        <%= render(@city.hotels.sort_by{|a| a.mean}.reverse[0..2]) %>        
    <% else %>
        <h4> Nothing here yet ... </h4>
    <% end %>
</div>

<hr>

<% if has_role?(:admin) %>
    <%= link_to new_city_hotel_path(@city), class:"btn btn-outline-primary" do %>
        <i class="fas fa-plus"></i> Add Hotel
    <% end %>    
<% end %>

<div class="row justify-content-center">
    <h3 class="text-muted">Citywalks</h3>
</div>

<div class="row">
    <% if @city.citywalks.exists? %>
        <%= render(@city.citywalks.sort_by{|a| a.mean}.reverse[0..2]) %>
    <% else %>
        <h4> Nothing here yet ...</h4>        
    <% end %>
</div>

<hr>

<% if has_role?(:admin) %>
    <%= link_to new_city_citywalk_path(@city), class:"btn btn-outline-primary" do %>    
        <i class="fas fa-plus"></i> Add Citywalk
    <% end %>
<% end %>

<div class="row justify-content-center">
    <h3 class="text-muted">Restaurants</h3>
</div>

<div class="row">
    <% if @city.restaurants.exists? %>
        <%= render(@city.restaurants.sort_by{|a| a.mean}.reverse[0..2]) %>        
    <% else %>
        <h4> Nothing here yet ...</h4>
    <% end %>
</div>

<hr>

<% if has_role?(:admin) %>
    <%= link_to new_city_restaurant_path(@city), class:"btn btn-outline-primary" do %>    
        <i class="fas fa-plus"></i> Add Restaurant
    <% end %>
<% end %>

<%= render "partials/favorite_modal" %>