<h1><%= @city.name %></h1>

<div class="city-description">
    <p><%= @city.description %></p>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="hotels">
            <h1>Hotels</h1>
            <%= render(@city.hotels) %>
            <div>
                <%= link_to "Add Hotel", new_city_hotel_path(@city), class:"btn-custom"  %>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="citywalks">
            <h1>Citywalks</h1>
            <%= render(@city.citywalks) %>
            <div>
                <%= link_to "Add citywalk", new_city_citywalk_path(@city), class:"btn-custom"  %>
            </div>
        </div>

    </div>
</div> <!-- row -->

