<div class="row align-items-center flex-column">
    <h1 class="display-1"><%= @hotel.name %></h1>
    <h6> <%= link_to @hotel.city.name, city_path(@hotel.city) %> </h6>
    <div class="average-review-rating" data-score="<%= @average_review %>"></div> <small>based on <%= @hotel.reviews.count %> reviews</small>
</div>

<div class="row">
    <p class="lead"><%= @hotel.description %></p>
</div>

<%if current_user%>
    <%= link_to save_hotel_path(@hotel), class: "save", method: :put do %>  
    <%if current_user.find_saved_items.include?(@hotel)%>
        <i class="fas fa-star"></i>
    <%else%>
        <i class="far fa-star"></i>
    <%end%>
    <%end%>
<%end%>


<div class="row">
    <div class="col-sm-12 justify-content-center">
        <div class="show-image">
            <%= image_tag @hotel.image.url  , alt: @hotel.name, class: "h-100 w-100" %>        
        </div>        
    </div>
</div>

<hr>

<%= render partial: "reviews/reviews", locals: {reviewable: @hotel} %>

<%= render partial: "reviews/form", locals: {reviewable: @hotel} %>


<script>
    $('.review-rating').raty({
        readOnly: true,
        score: function() {
            return $(this).attr('data-score');
        },
        path: '/assets/'
    });
</script>

<script>
    $('.average-review-rating').raty({
        readOnly: true,
        path: '/assets/',
        score: function() {
            return $(this).attr('data-score');
        }
    });
</script>


<script>
    $('#rating-form').raty({
        path: '/assets/',
        scoreName: 'review[rating]'
    });
</script>