<div class="row align-items-center flex-column">
    <h1 class="display-1"><%= @hotel.name %></h1>
    <h6> <%= link_to @hotel.city.name, city_path(@hotel.city) %> </h6>
    <div class="average-review-rating" data-score="<%= @average_review %>"></div> <small>based on <%= @hotel.reviews.count %> reviews</small>
</div>

<div class="row">
    <p class="lead"><%= @hotel.description %></p>
</div>

<div class="row justify-content-end mb-4">
    <div class="col-md-3">
        <%= link_to save_hotel_path(@hotel), class: "btn btn-outline-success w-100", method: :put, remote: true do  %>
            <% if has_favorite_item(@hotel) %>
                <i class="star-icon fas fa-star"></i> <span class="fav-action">Remove</span>
            <% else %>
                <i class="star-icon far fa-star"></i> <span class="fav-action">Save</span>
            <% end %>
        <% end %>                        
    </div>
</div>


<div class="row">
    <div class="col-sm-12 justify-content-center">
        <div class="show-image">
            <%= image_tag @hotel.image.url  , alt: @hotel.name, class: "h-100 w-100" %>        
        </div>        
    </div>
</div>

<hr>

<%= render partial: "reviews/reviews", locals: {reviewable: @hotel} %>

<%= render partial: "reviews/form", locals: {reviewable: @hotel} %>

<%= render "partials/favorite_modal" %>

<script>
    $('.review-rating').raty({
        readOnly: true,
        score: function() {
            return $(this).attr('data-score');
        },
        path: '/assets/'
    });
</script>

<script>
    $('.average-review-rating').raty({
        readOnly: true,
        path: '/assets/',
        score: function() {
            return $(this).attr('data-score');
        }
    });
</script>


<script>
    $('#rating-form').raty({
        path: '/assets/',
        scoreName: 'review[rating]'
    });
</script>
