<div class="row">
    <h5 class="text-secondary"><%= reviewable.reviews.count %> Reviews</h2>
</div>

<% reviewable.reviews.each do |review| %>
    <div class="row m-2">
        <div class="col-1 p-0">
            <%= image_tag(review.user.avatar, alt: review.user.username, class: " img-fluid rounded-circle") %>
        </div>
        <div class="col-8 flex-column">
            <div class="review-header">
                <strong><%= review.user.username %></strong> rated it  
                <small><%= time_ago_in_words(review.created_at) %></small> <div class="review-rating d-inline" data-score="<%= review.rating %>"></div>
                <br>
                <%= review.body %>
            </div>
        </div>
        <% if current_user == review.user || has_role?(:admin) %>
            <div class="col-2 text-md-center">
                <%= link_to edit_review_path(review) do %>
                    <p><i class="fas fa-pencil-alt"></i></p>
                <% end %>
                <%= link_to review_path(review), method: :delete, data: { confirm: "Are you sure?" } do %>
                    <p><i class="fas fa-trash-alt"></i></p>
                <% end %>
            </div>            
        <% end %>
    </div>
<% end %>

<hr>

<script>
    $('.review-rating').raty({
        readOnly: true,
        score: function() {
            return $(this).attr('data-score');
        },
        path: '/assets/'
    });
</script>

<script>
    $('.review-rating').raty({
        readOnly: true,
        score: function() {
            return $(this).attr('data-score');
        },
        path: '/assets/'
    });
</script>