<div class="row">
    <h5 class="text-secondary"><%= reviewable.reviews.count %> Reviews</h2>
</div>

<% reviewable.reviews.each do |review| %>
    <div class="row m-2">
        <div class="col-md-1">
            <%= image_tag(review.user.avatar, alt: review.user.username, class: "img-fluid rounded-circle") %>
        </div>
        <div class="col-md-9 flex-column">
            <p>
                <strong><%= review.user.username %></strong> <small><%= time_ago_in_words(review.created_at) %></small>
                <br>
                <%= review.body %>
            </p>
        </div>
        <% if current_user == review.user || has_role?(:admin) %>
            <div class="col-md-2 text-md-center">
                <%= link_to edit_review_path(review) do %>
                    <p><i class="fas fa-pencil-alt"></i></p>
                <% end %>
                <%= link_to review_path(review), method: :delete, data: { confirm: "Are you sure?" } do %>
                    <p><i class="fas fa-trash-alt"></i></p>
                <% end %>
            </div>            
        <% end %>
    </div>
<% end %>

<hr>
