<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  </head>

<body>
  
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Travel App", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if has_role?(:admin) %>
        <li class="nav-item">
          <%= link_to "Add Country", new_country_path, class: "nav-link" %>
        </li> 
        <li class="nav-item">
          <%= link_to "See Users", all_users_show_path(type: "user"), class: "nav-link" %>
        </li>           
      <% end %>

      <li class="nav-item">
        <%= link_to "Posts", posts_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to 'Polls', polls_path, class: "nav-link" %>
      </li>       
    </ul>

    <%= form_with url: search_path, local: true, method: :get, html: { class: "form-inline my-2 my-lg-0" } do |form| %>
      <%= form.text_field :q, placeholder: "Search", data: { behavior: "autocomplete" }, class: "form-control mr-sm-2" %>
      <%= form.button "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
    <% end %>
    
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>

        <li class="nav-item dropdown">
          <%= link_to "#{image_tag(current_user.avatar, alt: current_user.username, class: "img-fluid img-thumbnail nav-gravatar")} Account".html_safe, edit_user_registration_path, class: "nav-link dropdown-toggle", id: "navbarDropdown", role: "button", 'aria-haspopup'=> true, 'aria-expanded'=> false, 'data-toggle'=> "dropdown"  %>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to current_user.username, edit_user_registration_path, class:"dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
          </div>
        </li>

      <% else %>

        <li><%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %></li>
        <li><%= link_to "Log In", new_user_session_path, class: "nav-link"  %></li>

      <% end %>
    </ul>

  </div>
</nav>

    
    <div class="container">
      <% flash.each do |key, value| %>
          <% if key=='alert' %>
            <div class="alert alert-danger">
                  <%= value %>
            </div>
          <% elsif key=='notice' %>
            <div class="alert alert-success">
                  <%= value %>
            </div>
          <% else %>
            <div class="alert alert-<%= key %>">
                  <%= value %>
            </div>
          <% end %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
